<?xml version="1.0" encoding="UTF-8"?>
<!--
    Root config: unit tests + API/E2E tests.
    Functional tests require a TYPO3 bootstrap and must be run via:
        composer run-script test:functional
    which uses Build/phpunit/FunctionalTests.xml.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap=".Build/vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="Api">
            <directory>Tests/Api</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">Classes</directory>
        </include>
    </source>
</phpunit>
